
@use '../mixins' as *;

.l-main-content {
    @include flex-center(column, center, center);
    gap: 30px;
    width: 100%;
    max-width: 600px;
    padding: 30px clamp(30px, 8vw, 80px);

    .header {
        @include flex-center(column);
        gap: 15px;
    }
}