
@use '../variables' as *;

.c-checkbox-field {
    position: relative;
    display: flex;

    input {
        display: none;
        &:checked ~ span {
            &::before {
                background-color: map-get($colors, secondary);
            }
    
            &::after {
                border-color: map-get($colors, bg-color);
            }
        }
    }

    span {
        margin-left: 20px;
        font-size: .8rem;

        &::before {
            content: "";
            width: 12px;
            height: 12px;
            position: absolute;
            top: 50%;
            left: 0;
            border: 1px solid map-get($colors, secondary);
            transform: translateY(-50%);
            cursor: pointer;
            border-radius: 1px;
        }

        &::after {
            content: "";
            width: 9px;
            height: 4px; 
            position: absolute;
            border: 3px solid transparent;
            left: 1px;
            bottom: 6px;
            border-left: none;
            border-bottom: none;
            transform: rotate(130deg);
            cursor: pointer;
            border-radius: 1px;
        }
    }
}