
@use '../variables' as *;
@use '../mixins' as *;

.c-input-field {
    @include flex-center;
    width: 100%;
    border: 1px solid map-get($colors, primary);
    padding: .4rem .6rem;
    border-radius: 4px;

    input {
        flex: 1;
        font-size: .9rem;
        background-color: transparent;
        border: none;
    }
}